
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  :root {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --sec-text: #000000;
    --header-bg: #111;
    --header-text: #fff;
    --card-bg: #fff;
    --btn-bg: #000000;
    --btn-text: #fff;
    --toggle-text: #fff;
    --toggle-bg: #000000;
    --shadow-color: #064906;
    --light-color: #ffffff;
    --link-color: #052a06;
    --genre-color: #ffffff;
    --box-color: #1b431b;
    --box-text: #ffffff;
    --box-text2: #000000;
  }
  
  /* Dark Mode Variables */
  .dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --sec-text: #000000;
    --header-bg: #1e1e1e;
    --header-text: #e0e0e0;
    --card-bg: #1e1e1e;
    --btn-bg: #098e00;
    --btn-text: #ffffff;
    --toggle-text: #000000;
    --toggle-bg: #fff;
    --light-color: #ffffff;
    --link-color: #036f03;
    --genre-color: #ffffff;
    --box-color: #1b431b;
    --box-text: #ffffff;
    --box-text2: #ffffff;
  } 

  html, body {
    overflow-x: hidden;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Orienta", sans-serif;
    transition: .5s ease-in-out;
  }
  a {
    text-decoration: none;
    color: var(--link-color);
  }
  a:hover {
    text-decoration: underline;
  }
  
  .orienta-regular {
    font-family: "Orienta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

  .subheading {
    text-align: center;
    margin: 1rem;
    color: var(--btn-text);
  }

  /* Header */
  header {
    background-color: var(--header-bg);
    color: var(--header-text);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures items are vertically aligned */
    padding: 1rem 2rem;
    position: relative;
  }
  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    color: #098e00;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  header nav ul li a {
    color: var(--header-text);
    font-size: 1rem;
    margin: 1rem;
  }

  .active {
    text-decoration: underline;
  }

  .theme-toggle {
    color: var(--toggle-text);
    background-color: var(--toggle-bg);
    font-family: "Orienta", sans-serif;
    padding: 5px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.theme-toggle:hover {
    box-shadow: 0px 0px 20px #888888;
}

  /* Hamburger Button */
.hamburger {
  display: none; /* Hidden by default on larger screens */
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--header-text);
  cursor: pointer;
  margin: 0; /* Reset any default margin */
  padding: 0; /* Reset padding */
  transition: 0.3s ease-in-out;
}

/* Navigation Items */
.nav-items {
  list-style: none;
  display: flex;
  gap: 1rem;
  z-index: 2;
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show hamburger on smaller screens */
  }

  .nav-items {
    display: none; /* Hide nav items initially */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--header-bg);
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .nav-items.show {
    display: flex; /* Show nav items when toggled */
    position: absolute;
  }
}
  
/* Search Bar */


        /* Search bar styling */
        #search-container {
            text-align: center;
            margin: 20px 0;
        }

        #search-bar {
            width: 300px;
            padding: 10px;
            border: 2px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
        }

        #search-bar:focus {
            outline: none;
            border-color: #007bff;
        }

        /* Card styling */
        .card {
            margin: 10px auto;
            padding: 15px;
            max-width: 400px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fafafa;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: none; /* Hidden by default */
        }

        .card.visible {
            display: block;
        }

        .card-title {
            font-size: 18px;
            font-weight: bold;
        }

        .card-content {
            font-size: 14px;
            color: #555;
        }


  /* Hero Section */


.hero {
    color: var(--light-color);
    padding: 5px;
    height: 250px;
    margin-top: 0px;
    text-align: center;
  }
  
  .overwrap {
    background-image: url("banner.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }
  
  .hero p {
    color: var(--light-color);
  }
  
  .hero h1 {
    margin-top: 4.3rem;
    margin-bottom: 0;
    font-size: 50px;
  }


  /* Main sections */
  main {
    padding: 2rem;
  }

  .flex {
    display: flex;
  }

  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  }

  .featured {
    display: inline-block;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75%;
  }
  .featured h1 {
    margin-bottom: 1rem;
  }
  .featured-item {
    display: flex;
    gap: 1rem;
  }
  .featured-item img {
    min-width: 20%;
    max-width: 150px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .featured-item .btn {
    display: inline-block;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    transition: .3s ease-in-out;
  }
  .featured-item .btn:hover {
    box-shadow: 0px 0px 20px #888888;
}

  .side-hero {
    width: 100%;
    display: inline-block;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
  }
  .side-hero h1 {
    margin-bottom: 1rem;
  }
  .side-hero-item {
    display: flex;
    gap: 1rem;
  }
  .side-hero-item img {
    max-width: 150px;
    border-radius: 8px;
  }
  .side-hero-item .btn {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
  .side-hero-item .btn:hover {
    background: #0056b3;
  }
  
  /* Recent reviews */
  .recent-reviews {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  .review-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
  }
  .review-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  .review-card h3 {
    margin: 0.5rem 0;
    color: var(--sec-text);
  }

  .review-card p {
    color: var(--sec-text);
  }

/* S-Side Section */

  .s-side img {
    width: 15%;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  .s-side img:hover {
    box-shadow: 0px 0px 20px #888888;
  }

  .s-side img, .init {
    margin-left: 3.5rem;
  }

  /* Underground Section */

  .underground-section {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }

  .ug-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 50%;
    margin: 1.5rem;
  }
  .ug-card img {
    max-width: 80%;
    width: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: #333;
    transition: .3s ease-in-out;
    animation: rotate 10s linear infinite;
    animation-direction: reverse;
  }

  .ug-card img:hover {
    box-shadow: 0px 0px 20px var(--shadow-color);
  }

  /* Define the keyframes for rotation */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ug-card h3 {
    margin: 0.5rem 0;
    color: var(--sec-text);
  }

  .ug-card p {
    color: var(--sec-text);
  }
  
  /* Footer */
  footer {
    text-align: center;
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 1rem 0;
    margin-top: 2rem;
  }
  footer a {
    color: var(--link-color);
  }
  footer a:hover {
    text-decoration: underline;
  }


  /* Review Page Start */
  /* Review Cards Init */

  .review-content {
    display: flex;
    justify-content: center;
    margin: 2rem;
    background-color: var(--toggle-bg);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 15rem;
    flex-wrap: wrap;
  }

  .mrp-card {
    cursor: pointer;
    position: relative;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.mrp-card .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease-in-out;
    z-index: 1;
}

.mrp-card:hover .background {
    filter: blur(5px);
}

.mrp-card .info {
    position: relative;
    z-index: 2;
    color: var(--text-color);
    padding: 10px;
    border-radius: 1.5rem;
    background-color: var(--bg-color);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.mrp-card-info {
  text-decoration: none;
  display: flex;
}

.mrp-card:hover .info {
    opacity: 1;
}

.mrp-card h3,
.mrp-card p {
    margin: 0;
    font-family: 'Orienta', sans-serif;
}

.mrp-card h3 {
    font-size: 1.5rem;
}

.mrp-card p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.mrp2-card {
  background-color: var(--bg-color);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  margin: 1rem;
  padding: 0.5rem;
}

.mrp2-card:hover {
  box-shadow: 0px 0px 20px #888888;
}

.mrp2-card img {
  cursor: pointer;
  position: relative;
  margin: .5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
}

.mrp2-card-info {
  text-align: center;
  font-size: 1rem;
}

.review-info-des {
  text-decoration: none;
}

.review-info-des img {
  width: 10rem;
}


#review-area {
  background-color: var(--header-bg);
  border-radius: 8px;
  margin: 1rem;
  padding: 0.5rem;
}

#reviews {
  background-color: var(--header-bg);
  border-radius: 8px;
  margin: .5rem;
  padding: 0.5rem;
}

/* Category Bard */

.categories {
  font-size: 25px;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;
}

#genre-select {
  background-color: var(--genre-color);
  margin: 0 auto;
  width: 200px;
  text-decoration: none;
}

        /* Style the dropdown menu */
        select {
          font-size: 16px;
          padding: 8px 12px;
          border: 2px solid #ddd;
          border-radius: 5px;
          background-color: #f9f9f9;
          cursor: pointer;
          transition: all 0.3s ease;
      }

      select:hover {
          border-color: #333;
          background-color: #f0f0f0;
      }

      select:focus {
          outline: none;
          border-color: #007bff;
          background-color: #e9ecef;
      }

      /* Style the label */
      label {
          font-size: 15px;
          margin-left: 40px;
          margin-right: 40px;
          font-weight: bold;
      }

/* Card For Review */

.card {
  display: none; /* Hide cards by default */
  margin: 10px;
  padding: 10px;
}
.card.active {
  display: block; /* Show filtered cards */
}

/* Article CSS */

#article-space {
  background-color: var(--header-bg);
  border-radius: 8px;
  margin: 2rem;
  padding: 0.5rem;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #888888;
}

#article-space3 {
  background-color: var(--header-bg);
  border-radius: 8px;
  margin: 2rem;
  padding: 0.5rem;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #888888;
}

#article-space2, h2 p {
  color: white;
}

#article-space2 {
  background-color: var(--header-bg);
  border-radius: 8px;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px #888888;
}

#article-space2 p {
  margin-bottom: 1rem;
}

#article-space2 h2 {
  margin-top: 2rem;
}

.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 5px;
  height: auto;
  min-height: 15rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.inner-box * {
  margin: 0;
}

.inner-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 5px;
  height: 15rem;
}

.inner-box2 p {
  font-size: 5rem;
}

.inner-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 5px;
  height: auto;
  min-height: 5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.inner-box3 * {
  margin: 0;
}

.inner-box3 p {
  padding-top: 2rem;
}

.mrp-card a {
  text-decoration: none !important;
}

.box1 {
  position: relative;
  width: 22rem;
  background-color: var(--box-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.box1 img {
  width: 20rem;
}

.middle {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}

.box2 {
  position: relative;
  width: 70rem;
  background-color: var(--box-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.box2 h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: var(-);
}

.box2, h1 {
  color: var(--box-text);
}

.box3 p {
  margin-top: -2rem;
  margin-bottom: .5rem;
  color: var(--box-text2);
}

.box3 {
  position: relative;
  width: 35rem;
  background-color: var(--box-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.box3 h1 {
  margin-top: 1rem;
  color: var(--box-text);
}

.box4 {
  position: relative;
  width: 35rem;
  background-color: var(--box-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.box4 p {
  margin-top: -2rem;
  margin-bottom: .5rem;
  color: var(--box-text2);
}

.box4 {
  position: relative;
  width: 35rem;
  background-color: var(--box-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.box4 h1 {
  margin-top: 1rem;
  color: var(--box-text);
}

/* Rating Section */

  /* .star-rating {
    display: flex;
    direction: row-reverse;
    cursor: pointer;
    user-select: none; 
  }

  .star-rating span {
    font-size: 2rem;
    color: gray;
    padding: 0 5px;
    transition: color 0.2s ease-in-out;
  }

  .star-rating span:hover,
  .star-rating span:hover ~ span {
    color: gold;
  }

  .star-rating span.active,
  .star-rating span.active ~ span {
    color: gold;
  }

  .star-rating span:focus {
    outline: 2px solid gold; 
    outline-offset: 2px;
  } */

/* Article Css */

.article-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Article Header */
.article-header h1 {
  font-size: 2rem;
}

.article-header h2 {
  margin-top: -5px;
}

.article-meta {
  font-size: 0.9rem;
  color: gray;
}

/* Article Content */
.article-content img.article-image {
  display: flex;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.article-content h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.article-content p {
  margin-bottom: 1rem;
}

.album-list {
  display: grid;
  gap: 1.5rem;
}

.album-card {
  background-color: var(--bg-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: 0.2s ease-in-out;
}

.album-card:hover {
  box-shadow: 0px 0px 20px #ffffff;
}

.album-card h2 {
  font-size: 1.5rem;
  color: #444;
}

.album-card p {
  margin: 0.5rem 0;
  font-size: 1.7rem;
}

.shift {
  padding-right: 3rem;
  text-indent: 1.5rem;
}

.shift2 {
  margin: 1rem;
}

.album-card .score {
  color: #238804;
  font-weight: bold;
}

.side-1 {
  width: 85%;
  margin-left: 5rem;
  margin-top: 0.6rem;
}

.side-2 {
  width: 45%;
  justify-content: center;
  align-items: center;
}

.side-2 img {
  width: 100%;
  box-shadow: 0px 0px 20px #888888;
}

.overview-area {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 1rem;
  min-width: 75%;
}

.indent {
  text-indent: 1rem;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Article Footer */
.article-footer {
  text-align: center;
  margin-top: 2rem;
}

.article-footer .btn {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.article-footer .btn:hover {
  background-color: lighten(var(--btn-bg), 10%);
}

/* Media Queries For Article */

@media (max-width: 930px) {
  .side-1 {
    margin-left: 0;
  }
  .side-2 {
    width: 100%;
  }
  .shift {
    padding-right: 0;
  }
  h2, em {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .article-header p {
    text-align: center;
  }
  .indent {
    text-indent: 0;
  }
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--header-bg);
  color: var(--header-text);
}


  /* Media Queries */
@media (max-width: 768px) {
    header {
      padding: 1rem;
      text-align: center;
    }
    header nav ul {
      justify-content: center;
      gap: 0.5rem;
    }
    .featured-item {
      flex-direction: column; /* Stack image and text vertically */
      align-items: center;
      text-align: center;
    }
    .featured-item img {
      max-width: 100%; /* Full width for smaller screens */
      height: auto;
      min-width: 30%;
    }
    .flex {
      display: block;
    }
    .featured {
      display: inline-block;
      background-color: var(--card-bg);
      color: var(--text-color);
      padding: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
    }
    .side-hero {
      width: 100%;
      display: inline-block;
      background-color: var(--card-bg);
      color: var(--text-color);
      padding: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-left: 0px;
    }
    .s-side img {
      width: 55%;
      border-radius: 50%;
      margin: 5px;
      cursor: pointer;
      transition: .3s ease-in-out;
    }
    .ug-card {
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      text-align: center;
      width: 100%;
    }
    .underground-section {
      text-align: center;
    }
    .recent-reviews {
      text-align: center;
    }
    .side-hero h1 {
      text-align: center;
    }
    .featured h1 {
      text-align: center;
    }
    .ug-card {
      margin: 0px;
      margin-bottom: 1rem;
    }
    .box1 {
      position: relative;
      margin-top: 1rem;
      max-width: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
      margin-right: 1rem;
      background: none;
      box-sizing: border-box
    }
    .box1 img {
      margin-left: 1rem;
      width: 100%;
      position: relative;
      box-sizing: border-box
    }
    .box2 {
      position: relative;
      max-width: 100%;
      width: 100%;
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 1rem;
      box-sizing: border-box
    }
    .box3 {
      position: relative;
      max-width: 100%;
      width: 100%;
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 1rem;
      box-sizing: border-box;
    }
    .box4 {
      position: relative;
      max-width: 100%;
      width: 100%;
      margin-top: 1rem;
      margin-left: 0px;
      margin-right: 1rem;
      box-sizing: border-box;
    }

    .mini-flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #article-space {
      overflow: hidden;
      display: inline-block;
      height: 100%;
      width: 100%;
      border: solid #036f03;
      box-sizing: border-box
    }
    #article-space2 {
      overflow: hidden;
      display: inline-block;
      height: 100%;
      width: 100%;
      border: solid #036f03;
      box-sizing: border-box
    }
    #article-space2 h2 {
      text-align: center;
    }
    #article-space3 {
      overflow: hidden;
      display: inline-block;
      height: 100%;
      width: 100%;
      border: solid #036f03;
      box-sizing: border-box
    }
  }
  
  @media (max-width: 480px) {
    header .logo {
      font-size: 1.2rem;
    }
    header nav ul li a {
      font-size: 0.9rem;
    }
    .featured h1, .recent-reviews h2 {
      font-size: 1.2rem;
    }
    .featured-item img {
      min-width: 30%;
    }
    .review-card h3 {
      font-size: 1rem;
    }
    .flex {
      display: block;
    }
    .featured {
      display: inline-block;
      background-color: var(--card-bg);
      color: var(--text-color);
      padding: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
    }
    .side-hero {
      width: 100%;
      display: inline-block;
      background-color: var(--card-bg);
      color: var(--text-color);
      padding: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-left: 0px;
    }
    .s-side img {
      width: 35%;
      border-radius: 50%;
      margin: 5px;
      margin-left: 1.5rem;
      cursor: pointer;
      transition: .3s ease-in-out;
    }
    .ug-card {
      background: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      text-align: center;
      width: 100%;
    }
    .underground-section {
      text-align: center;
    }
    .recent-reviews {
      text-align: center;
    }
    .side-hero h1 {
      text-align: center;
    }
    .featured h1 {
      text-align: center;
    }
    .ug-card {
      margin: 0px;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 1024px) {
    .inner-box2 p {
      font-size: 3rem;
    }

    .box1 img {
      margin: 0;
    }

    .box1 {
      width: 95%;
    }

    .box3 h1 {
      font-size: 1rem;
    }
  }

  @media (max-width: 1250px) {
    .box3 p {
      font-size: 2rem;
    }
  }